<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ServiceBusConnectionString" connectionString="Endpoint=sb://devbridgeazuremessagingtest.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=J5kayoSDcX1bGAoBOowpi2YTHo4QNV5lPO7fYk+TmNc=" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>