<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ERROR" />
      </factoryAdapter>
    </logging>
  </common>
  
  <appSettings>
    <add key="ServiceBusConnectionString" value="Endpoint=sb://devbridgeazuremessagingtest.servicebus.windows.net/;SharedSecretIssuer=owner;SharedSecretValue=J5kayoSDcX1bGAoBOowpi2YTHo4QNV5lPO7fYk+TmNc=" />
  </appSettings>
</configuration>